<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><% title "Like Status" %></title>
</head>
    <body>
    <div class="container">
        <div>
            <a href="/ideas" >Bright Ideas</a>
            <a href="/logout" data-method="delete">Logout</a>
        </div><br>
        <div>
            <%= @idea.user.name  %> says:
            <p style="border: 1px solid"><%= @idea.content  %></p>
        </div><br>
        <div>
            <h3>People who liked this post:</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Alias</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                <% @liked.uniq.each do |u| %>
                    <tr>
                        <td><%= u.alias %></td>
                        <td><%= u.name %></td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        </div>
    </div>
    </body>
</html>