<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><% title "Dojo Music Hub" %></title>
</head>
<body>
    <div class="container">
        <div>
            <a href="/songs">Dashboard</a>
            <a href="/logout" data-method="delete">Logout</a>
        </div>
        <div>
            <h3><%= "#{@user.first_name} " " #{@user.last_name}" %> Playlist</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Artist</th>
                        <th>Title</th>
                        <th>Times Added</th>
                    </tr>
                </thead>
                <tbody>
                <% @songs.uniq.each do |s| %>
                    <tr>
                        <td><%= s.artist %></td>
                        <td><%= s.title %></td>
                        <td><%= s.added_count %></td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>