<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><% title "Register" %></title>
</head>
<html>
    <body>
        <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <!-- Lender Form -->
            <div class="col-5">
                <h2><u>Lender</u></h2>
                <form action="/creditors" method="post">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

                    <div class="form-group">
                        <label for="first_name">First Name:</label>
                        <input type="text" name="creditor[first_name]" id="first_name" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="last_name">Last Name:</label>
                        <input type="text" name="creditor[last_name]" id="last_name" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" name="creditor[email]" id="email" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" name="creditor[password]" id="password" class="form-control" />
                        <h6>Password should be at least 8 characters</h6>
                    </div>

                    <div class="form-group">
                        <label for="money">Money:</label>
                        <input type="number" name="creditor[money]" id="money" class="form-control" />
                    </div>

                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
            <!-- End Lender Form -->

            <!-- Borrower Form -->
            <div class="col-5">
                <h2><u>Borrower</u></h2>
                <form action="/debitors" method="post">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

                    <div class="form-group">
                        <label for="first_name">First Name:</label>
                        <input type="text" name="debitor[first_name]" id="first_name" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="last_name">Last Name:</label>
                        <input type="text" name="debitor[last_name]" id="last_name" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" name="debitor[email]" id="email" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" name="debitor[password]" id="password" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="reason">Need Money For:</label>
                        <input type="text" name="debitor[reason]" id="reason" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="description">Description:</label>
                        <textarea class="form-control" name="debitor[description]" id="description"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="amount">Amount Needed:</label>
                        <input type="number" name="debitor[amount]" id="needed" class="form-control" />
                    </div>
                    <%= link_to "Already a member?", root_path %>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
            <!-- End Borrow Form -->
        </div>
    </body>
</html>

        </div>
    </body>
</html>