.pre-scrollable{
  height: 150px;
}
#header{
  display: inline;
}

.btn-success{
  float: right;
  margin-top: -40px;
}
.earned {
  color: green;
  margin-bottom: -20px;
}
.lost {
  color: red;
  margin-bottom: -20px;
}
